body {
  padding: 0;
  margin: 0;
  font-family: Caveat Brush, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 100;
  background-color: #122846;
}

* {
  box-sizing: border-box;
}
