body {
  padding: 0;
  margin: 0;
  font-family: Caveat Brush, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 100;
  background-color: #122846;
}

* {
  box-sizing: border-box;
}

.btnPlay {
  font-size: 23px;
  padding: 0 10px;
  font-family: "Caveat Brush";
  background-color: #a7d8a2;
  border: solid 1px #a7d8a2;
  color: #122846;
  border-radius: 8px;
}

.btnPlay:hover {
  color: #a7d8a2;
  background-color: #122846;
  border: solid 1px #a7d8a2;
  cursor: pointer;
}

.btnSecondary {
  font-size: 20px;
  padding: 0 15px;
  font-family: "Caveat Brush";
  background-color: #cfa75f;
  border: solid 1px #cfa75f;
  color: #122846;
  border-radius: 8px;

}

.btnSecondary:hover {
  color: #cfa75f;
  background-color: #122846;
  border: solid 1px #cfa75f;
  
}

.gameTitle {
  font-size: 50px;
  color: white;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 20px;
}

.modal{
    padding: 0px;
    border: 0px;
    background-color: rgb(34, 34, 43);
}


.ant-modal-content {
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;

  background: none !important;
}

svg {
  color: #cfa75f;
}



