.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250vh;
  padding: 0;
}

.globalContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.lobbyContainer {
  margin-bottom: 50px;
  display: flex;
  justify-content: top;
  align-items: center;
  height: 120%;
  flex-direction: column;
}

.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.demoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.rightContainer {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: column;
  height: 325px;
  width: 320px;
  color: white;
  border: solid 1px white;
  border-radius: 15px;
  padding: 0 20px;
}

.rightContainerLobby2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 325px;
  width: 320px;
  color: white;
  border: solid 1px white;
  font-weight: 100;
  border-radius: 15px;
  padding: 0 20px;
}

.rightTopContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.selectContainer {
  width: 50%;
}

.selectInput {
  margin-left: 35px;
  outline: none;
  border-radius: 5px;
  border: 0;
  width: 50px;
  height: 25px;
  border-radius: 7px;
  padding: 5px;
}

.rightBottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;
  margin-top: 30px;
}

.lobbyCodeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.inputCode {
  width: 75px;
  height: 25px;
  border-radius: 7px;
  border: none;
  text-transform: uppercase;
  margin-left: 10px;
  border: 1px solid #FFFFFF;
}

.inputCode:focus {
  outline: none;
  border: 1px solid #4A90E2;
}

.btnPlay {
  margin-top: 50px;
  cursor: pointer;
  height: 60px;
  width: 180px;
}

.btnCreateGame{
  font-size: 15px;
  margin-left: 20px;
  cursor: pointer;
  height: 40px;
  width: 120px;
}

.btnJoin{
  margin-left: 20px;
  cursor: pointer;
  height: 40px;
  width: 120px;
}

.btnStartContainer {
  margin-left: 200px;
}

.btnSecondary {
  margin-top: auto;
  margin-bottom: 15px;
  cursor: pointer;
  height: 40px;
  width: 120px;
}
