.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 250vh;
  width: 100vw;
  padding: 0;
  overflow: hidden;
}

.globalContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98vw;
  height: 100%;
  padding: 0 100px;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.lobbyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  width: 100%;
  flex-direction: column;
}

.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 57vw;
  height: 80vh;
}

.demoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 325px;
  color: white;
  border: solid 1px white;
  border-radius: 15px;
  width: 300px;

  padding: 0 20px;
}

.rightTopContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.rightBottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.btnPlay {
  margin-top: 50px;
  cursor: pointer;
  height: 60px;
  width: 180px;
}

.btnSecondary {
  margin-top: auto;
  margin-bottom: 15px;
  cursor: pointer;
  height: 40px;
  width: 120px;
}
