/* multitris.module.css */

.container {
  background-color: #122846; /* Fond sombre demandé */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.title {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  width: 60%;
  max-height: 80vh;
  aspect-ratio: calc(var(--cols) / 20); /* Pour s'adapter à la hauteur */
  border: 2px solid white;
  gap: 0.5px; /* Espace entre cellules */
  background-color: #000000;
}

.cell {
  aspect-ratio: 1 / 1;
  background-color: #1f1f1f;
}

.filled {
  background-color: #00d9ff; /* Couleur temporaire pour bloc rempli */
}

.empty {
  background-color: transparent;
}

.gameScores {
  display: flex;
  justify-content: center;
  align-items: center;
}

.personalScores {
  background-color: green;
}

.teamScores {
  background-color: yellow;
}

.endGameContainer {
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #122846;
  border-radius: 8px;
  border: 1px solid #f5c242;
  opacity: 80%;
}

.endGameSectionContainerLeft {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.endGameSectionContainerRight {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.endGameContainerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 20%;
  color: #f5c242;
}
.individualPlayerStatContainer {
  width: 150px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color:#f5c242
}
.statsContainerLeft {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.statsContainerRight {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border-left: 1px solid #f5c242;
}

.statsPlayerName {
  width: 100%;
  color: #f5c242;
  font-weight: 800;
  text-align: center;
  border-bottom: 1px solid #f5c242;
}
.statsNamesContainer {
  font-weight: 800;
  height: 100%;
  width: 70%;
  color: #f5c242;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 5px;
}
.statsValues {
  font-weight: 800;
  height: 100%;
  width: 30%;
  color: #f5c242;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 5px;
}

.statLine {
  margin-top: 5px;
}

.statLineTeam{
  font-size: 25px;
  margin-top:8px
}
