.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300vh;
  background-color: white;
  padding: 0;
}

.playerLobbyContainer {
  font-size: 25px;
  font-weight: 100;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.gamesGridContainer {
  width: 100vw;
  height: 100vw;
  border: 1px solid red;
  background-color: #122846;
}
